/* Amber Struckman HW */

body {
    width: 960px;
    background: url(../images/full-bloom.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;
}

header {
    position: absolute;;
    display:block;
    width: 100%;
    background: #ffffff;
    border: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: #777777;
    top: 0;
    left:0;

}

h1 {
    color: #4aaaa5;
    padding: 10px;
    
}

#nameLogo
{
    background: #4aaaa5;
    color: #ffffff;
    display: inline-block;
    line-height: 100%;
    padding: 8px;
    margin: 0;
    margin-left: 50px;
    z-index: 0;
}
img {
    float: left;
    padding: 10px;
}



/* .imageBanner
{position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);}    */

p { 
    /* float: left; */
    color: #777777;
    padding: 10px;
}
article {
    background: #ffffff;
    border-color: #dddddd;
    border-width: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    min-height: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color:white;
    display: inline-block;
    /* position: absolute; */

    
}

li {
    color: #4aaaa5;
    display: inline-block;
    border-right: 1px solid #bbb;


    
    
    
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* li a:hover {
    background-color: #111;
} */

nav {
    display: block;
    float: right;
}

hr{
    margin: 10pt;
}

input {
    width: 90%;
}

.message {
    height: 100px;
}

.submitButton {
    width: auto;
    background-color: #4aaaa5;
    color: #ffffff;
}

div.image1container {
    position: relative;
    width: 160px;
    height: 120px;

}
#imageBanner{
    background: #4aaaa5;
    color: #ffffff;
    display: inline-block;
   
    padding: 8px;
    margin: 0;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
    left: 0
    ;
}

    footer{
        position:relative;
    display:block;
    max-width: 100%;
   text-align: center;
   color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
        background-color: #666666;
        border-top: 8px solid #4aaaa5; 

    }

