body {
    width: 960px;
    background-image: full-bloom;
}

h1 {
    color: #4aaaa5;
}

img {
    float: left;
}

p { 
    float: left;
}
article {
    border: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}